<section>
    <div class="container">
    <div class="row mt-3">

        <div class="col-md-6">
            <h2 class="text-center">Add New Task</h2>

            <form action="/tasks/add-task" method="post">

                <label for="">Assignment Header</label>
                <input type="text" name="Name" class="form-control">
                
                 <label for="">Description</label>
                <input type="text" name="Description" class="form-control">

                    <label for="">EDC</label>
                <input type="date" name="EDC" class="form-control">
                 <label for="">Assigned To (Emp Id)</label>
                <input type="text" name="AssignedTo" class="form-control">

                
        <button type="submit" class="btn btn-success mt-4">Submit</button>
            </form>

        </div>
    </div>
    </div>
</section>