<script>
$(document).ready(function(){
  $(".user").hide();

    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        console.log({inputValue})
        var targetBox = $("." + inputValue);
        console.log({targetBox})
        if(inputValue=="user") $(".user").show();
        else  $(".user").hide();
      //  $(".user").not(targetBox).hide();
       // $(targetBox).show();
    });
});

</script>
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="border border-3 border-primary"></div>
        <div class="card bg-white shadow-lg">
          <div class="card-body p-5">
            <form class="mb-3 mt-md-4" action="/signUp" method="post">
              <h2 class="fw-bold mb-2 text-uppercase ">Task Manager</h2>
              <p class=" mb-5">Please enter your Details!</p>
              <div class="mb-3">
                <label for="name" class="form-label ">Name</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="empId" class="form-label ">Employee ID</label>
                <input type="text" class="form-control" id="empId" name="empId" placeholder="">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label ">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="*******">
              </div>
              {{!-- <p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p> role
              --}}
              <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="manager" />
                <label class="form-check-label" for="inlineRadio1">Manager</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="user" />
                <label class="form-check-label" for="inlineRadio2">User</label>
              </div>

              <div class="user">
                <div class="mb-3">
                  <label for="managerEmpId" class="form-label ">Manager - Employee ID</label>
                  <input type="text" class="form-control" id="managerEmpId" name="managerEmpId" placeholder="">
                </div>
              </div>

              <div class="d-grid">
                <button class="btn btn-outline-dark" type="submit">Register</button>
              </div>



            </form>
            <div>
              <p class="mb-0  text-center">Already have an account? <a href="/"
                  class="text-primary fw-bold">Login</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>